<title><%= @title %></title>

<h1 class="message">Welcome to Dev!</h1>
<div id="signup">
	<h3>Sign Up</h3>
	<form method="POST" action="/signup">
		<label for="username">Create Username</label>
		<input type="text" name="username">
		<br>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
		<label for="email">Enter Email</label>
		<input type="text" name="email">
		<br>
		<label for="password">Choose Password</label>
		<input type="password" name="password">
		<br>
		<label for="zipcode">Enter Zipcode</label>
		<input type="integer" name="zipcode">
		<br>
		<input class="button" type="submit" value="Sign Up">
		<br>
	</form>
</div>
<div id="login">
	<h3>Log In</h3>
	<h6>Welcome back!</h6>
	<form method="POST" action="/login">
		<label for="username">Username</label>
		<input type="text" name="username">
		<br>
		<label for="password">Password</label>
		<input type="password" name="password">
		<br>
		<input class="button" type="submit" value="Log In">
		<br>
	</form>
</div>
	