<title><%= @title %></title>
<img id="dev" src="./images/developer.jpg">
<div id="home_container">
	<div id="welcome_message">
		<h1 class="welcome">Welcome to</h1>
		<img id="logo_small" src="./images/Dev_logo.png">
		<h2>Where Developers Connect</h2>
	</div>
	<div class="feed">
		<h1 class="feedheader">Here is what people are saying...</h1>

	</div>
</div>
