<title><%= @title %></title>

<h1 class="message">Welcome to Dev!</h1>


<div class="feed">
	<h1 class="feedheader">Here is what people are saying...</h1>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>
	<h3 class="posts">Post</h3>


	