<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main_style.css">
		<link rel="stylesheet" type="text/css" href="homepage.css">
	</head>

	<body>
		<nav>
				<a href="/"><button type="button">Homepage!</button></a>
				<a href="/sign_up"><button type="button">Sign Up!</button></a>
				<a href="/sign_in"><button type="button">Sign In!</button></a>
				<a href="/profile"><button type="button">Your Profile!</button></a>
				<a href="/sign_out"><button type="button">Sign Out!</button></a>
				<%= yield%>
	</body>

</html>