<h1>Profile</h1>
<div id="new_post">
	<form id="post_form" method="post" action="/post">
		<label id="post_label" for="post">&nbsp;What's new with you?&nbsp;
		<br>
		<br>
		<br>
		<textarea name="post" rows="6" cols="46"></textarea>
		<br>
		<input class="button" type="submit" value="Post">
	</form>
</div>