
	<div class="profile"> 
		<p>Your Profile:</p>
		<p>Username: <%= @current_user.username %></p>
		<p>Zipcode : <%= @current_user.zipcode %></p>
		<p>Zipcode : <%= @current_user.profile.fname %></p>	
	</div>





