<!DOCTYPE html>
<html>
	<head> 
		<title> User Sign In </title>
	</head>

		<body>
			<div class="container">
				<div id="login">
					<h3>Sign-In</h3>
					<h4>Welcome back!</h4>
					<form method="POST" action="/sign_in">
						<label for="username">Username</label>
						<input type="text" name="username">
						<br>
						<label for="password">Password</label>
						<input type="password" name="password">
						<br>
						<input class="submit_button" type="submit" value="Log In">
						<br>
					</form>
				</div>
			</div>
		</body>
</html>
