<div class="container">
	<div id="signup">
		<h3>Sign Up for Dev!</h3>
		<form method="POST" action="/sign_up">
			<label for="username">Create Username</label>
			<input type="text" name="username">
			<br>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			<label for="email">Enter Email</label>
			<input type="text" name="email">
			<br>
			<label for="password">Choose Password</label>
			<input type="password" name="password">
			<br>
			<label for="zipcode">Enter Zipcode</label>
			<input type="integer" name="zipcode">
			<br>
			<input class="submit_button" type="submit" value="Sign Up">
			<br>
		</form>
	</div>

	<div class="dev_info">
		<h2> FAQs </h2>
		<h3> What is Dev? </h3>
		<p> Here at Dev, you can connect with other people who have an interest in development, design, learning new languages and much more. Find people just like you! </p>
		<h3> Who is Dev for? </h3>
		<p> Dev is for anyone with an interest in Development. Whether you're a senior software engineer or a teen messing around with terminal in your basement... you'll find good connections and interesting topics at Dev! </p>
		<h3> Why is Dev different? </h3>
		<p> Dev is different from other social media sites because it has a very specific focus. While you may not find gratuitous cat photos, you may find someone who can help you code that website about your cat. <p>
		<h3> Interested? </h3>
		<p> Sign up above and get started with DEV </p>
	</div>

