.message {
	text-align: center
}

.feedheader {
	text-align: center;
}

.feed {
	border: 5px solid #607d8b;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
}

.posts {
	border: 5px solid #ff5722;
}